.container_login {
    display: flex;
    justify-content: center;
    margin: 100px 50px 50px 50px;

}




.box {
    background-color: white cream;
    box-shadow: 0 0.5em 1em -0.125em rgba(scheme-invert, 0.1), 0 0px 0 1px rgba(scheme-invert, 0.02);
    
}


.box:hover {
    transform: scale(1.1);
    z-index: 10;
}

body {
    background-color: mintcream;
    min-height: 100vh;
    font-size: size-4;
}

h1,
h2,
h3 {
    color: midnightblue;
    font-size: 20px;
}

.title {
    color: midnightblue;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 30px;
}

.gallery .card {
    transition: .1s linear;
}

.gallery .card:hover {
    transform: scale(1.1);
    z-index: 10;
}

p {
    font-size: 17px;
} 
