.container_login {
    display: flex;
    justify-content: center;
    margin: 100px 50px 50px 50px;

}

.box {
    background-color: white cream;
}

body {
    background-color: mintcream;
    min-height: 100vh;
}

h1,
h2,
h3 {
    color: midnightblue;
}

.title {
    color: #ffffff;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 30px;
}

.gallery .card {
    transition: .1s linear;
}

.gallery .card:hover {
    transform: scale(1.1);
    z-index: 10;
}

p {
    font-size: 12px;
} 
