
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    margin: 50px 5px 20px 20px;
    background-color: #AA96DA;
    
} 




.box {
    background-color: #AA96DA;
}



.container .bio {
    background-color: #AA96DA;
    align-self: flex-start;


}

.container .status {
    display: flex;
    align-self: flex-end;
    margin: 50px 45px 60px 20px;

} 



body {
    background-color: red;
    min-height: 100vh;
}

h1,
h2,
h3 {
    color: red;
}

.title {
    color: #ffffff;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 30px;
}

.gallery .card {
    transition: .1s linear;
}

.gallery .card:hover {
    transform: scale(1.1);
    z-index: 10;
}

p {
    font-size: 12px;
} 
