{% extends 'base.html' %} 
{% block content %}

<div class="detail__container">
  {% for post in posts.all %}
  <div class="buttons">
      <div class="buttons">
      <a href="{% url 'post_create' post.pk %}" class="button is-info"> Create a Post
          <span class="icon">
              <i class="fas fa-edit"></i>
          </span>
      </a>
  </div>
  {% endfor %}
  </div>

  
  <div class="detail__container">
      {% for post in posts.all %}
      <div class="museum">
        <span>{{forloop.counter}}</span>
        <span><b>{{post.profiles}}</b></span>
        <div>{{post.name}}</div>
        <div>{{post.text}}</div>
        <div>{{post.group}}</div>
        <div>{{post.date}}</div>
        
      </div>


     
          {% empty %}
      <article class="message">
        <div class="message-header">
          <p>No Post Available</p>
        </div>
      </article>
   
      {% endfor %}
    </div>
  
  {% endblock %}

