{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Groups{% endblock  %}

{% block content %}

<h1 class="title pt-5">Groups</h1>
<div class="gallery">
  {% for group in groups %}
  <a href="{% url 'group_detail' group.pk %}">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{group.goal_img}}" alt="{{group.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{group.goal}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Groups Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}