{% extends 'base.html' %}
{% block content %}
<


    <section>
        <div class="container_login">
            <div class="level-right">
                <div class="box">
                <h1 class="title">Log In</h1>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %} {{ form.as_p }}
                    
                    <input type="submit" class="btn" value="login" />
                    <input type="hidden" name="next" value="{{ next }}" />
   
                </form>
                </div>
                </div>
        </div>
            </section>






{% endblock %}