{% extends 'base.html' %} 
{% block content %}

  <head>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <title>Modal Cards - Free Bulma template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/hero.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <style>
    .columns:nth-child(2)
    {margin-top: 5rem;}
    </style>
  </head>
  <body>
    <div class="box cta">
      <p class="has-text-centered">
        Signpost Levels
      </p>
    </div>
    <section class="container">
      <div class="columns features">
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://i.pinimg.com/originals/fa/71/b1/fa71b1034307f86fa5fd90c01e44f11e.png" alt="Placeholder image" class="modal-button" data-target="modal-image2">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>Difficulty at the Beginning</h4>
                <p>The birth of a new venture is an entry into the unknown. New things seem to be rushing upon you. However, chaos is a powerful force if you harness it correctly. Stay calm and be ready to perservere.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZQ9OQii2ziERp4GmLJWpocTliYQVXnoCdvq4HY8bgTVa2JAgsXMC2hB_ABMmhvh6YrXQ&usqp=CAU" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>Overview</h4>
                <p>Shallow wells rarely strike water, and shallow minds often come up empty. The ability to keep still and deeply observe strengthens resolve. Discern the difference between what is deep and what is shallow within yourself, and you will be able to distinguish between the two in the outer world as well.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://i.pinimg.com/474x/f1/dd/69/f1dd6915fcd3cc6594baf3d3aad1047d.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>Retreat</h4>
                <p>All worthy goals meet some resistance. When negative forces predominate, a well-timed retreat can be good for keeping your energy up. Timing is critical. Skillful retreat is a sign of intelligence and strength.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns features">
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://static.vecteezy.com/system/resources/thumbnails/000/191/923/small_2x/T_22-01.jpg" alt="Placeholder image" class="modal-button" data-target="modal-image2">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>Oppression</h4>
                <p>As hard as our failures are to accept, they can open our eyes, reawakening a clarity of vision only known by those who have risked and tasted disappointment. The clarity and learning is the silver lining of dark clouds. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://thumbs.dreamstime.com/b/cute-girl-sleeps-bed-different-poses-side-postcard-woman-cat-pajama-sleeping-mattress-sweet-dreams-time-yourself-175369948.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>Keeping Still</h4>
                <p>Treat your vitality as if it were a candle in the wind.Protect it as though it were the only light in a dark forest. Avoid external conditions that threaten to snuff out this precious flame.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://cdn.dribbble.com/users/1355613/screenshots/15799226/media/942dbcf92162c70a6659dc0117a8cb3f.jpg?compress=1&resize=400x300" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>Fellowship</h4>
                <p>Bonding only develops if personal interests are subordinate to communal interests such as open communication and empathy. A spirt of cooperation steadies the boat for the good of all. With a unified group solidly behind you, even difficult enterprises can be undertaken without great risk.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns features">
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://thumbs.dreamstime.com/b/plus-size-african-american-woman-meditating-sitting-lotus-natural-background-attractive-overweight-girl-concept-plus-186095371.jpg">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>Centering in the Truth</h4>
                <p>Become conscious of the relationship between your heart and the circumstances of your life. Connect with the fundamental wisdom within you, within other people, and within all of nature.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/43a31752514657.59133f33f20c4.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>Endurance</h4>
                <p>True endurance is not based on rigidity, because endurance implies flexibility- not being locked in position. Only by adapting to change can we stay in the race. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://i.etsystatic.com/31443126/r/il/23165d/3261987916/il_1588xN.3261987916_5aal.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>Nearing Completion</h4>
                <p>The situation is incomplete, but the chaos of the past is giving way to order--the goal is in sight. Though the way ahead is unobstructed and the goal is near, a cautious and careful attitude is still important.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
       
    </section>
</body>
      




{% endblock %}