{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{profile.group.goal_img}}" alt="{{profile.group.name}}" />
</div>
<div class="detail__container">
  
   
    {% for profile in profile.all %}
    <div class="museum">
      <span>{{forloop.counter}}</span>
      <span><b>{{group.name}}</b></span>
      <div class="detail__img">
        <img src="{{profile.group.goal_img}}" alt="{{profile.group.name}}" />
    </div>
      <span>{{profile.group.goal}}</span>
    </div>
		{% empty %}
    <article class="message">
      <div class="message-header">
        <p>No Group Available</p>
      </div>
    </article>

    {% endfor %}
  </div>
<!--  above about section  -->
<div class="detail__container">
    {% for post in posts.all %}
    <div class="museum">
      <span>{{forloop.counter}}</span>
      <span><b>{{post.profiles}</b></span>
      <div>{{post.text}}</div>
      <div>{{post.date}}</div>
    </div>
		{% empty %}
    <article class="message">
      <div class="message-header">
        <p>No Post Available</p>
      </div>
    </article>

    {% endfor %}
  </div>

{% endblock %}