{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="container">
{% for profile in profile.all %}

<div class="level-right">
  <a href="/myprofile/new"> Create Your Profile</a>
</div>
<div class="level-right">
  <a href="/myprofile/newgroup"> Create a New Group</a>
</div>
<div class="level-right">
  <img src="{{profile.status_img}}" alt="{{profile.name}}" />
</div>
<div class="level-left">
  <img src="{{profile.avatar_img}}" alt="{{profile.name}}" />
</div>


 
  <div class="level-left">
    <span>{{forloop.counter}}</span>
    <span><b>{{profile.name}}</b></span>
   </div>
   
    <div class="level-right"></div>
    <span>{{profile.goal_description}}</span>
  </div>
  <div class="button_container">
  
    <div class="buttons">
        <div class="buttons">
       
        <a href="{% url 'myprofile_post' profile.pk %}" class="button is-info"> See Posts
          <span class="icon">
              <i class="fas fa-edit"></i>
          </span>
      </a>
      <a href="{% url 'post_create' profile.pk %}" class="button is-info"> Create a New Post
        <span class="icon">
            <i class="fas fa-edit"></i>
        </span>
    </a>
    <a href="{% url 'profile_update' profile.pk %}" class="button is-info"> Update Your Profile
      <span class="icon">
          <i class="fas fa-edit"></i>
      </span>
  </a>
        <a href="{% url 'profile_delete' profile.pk %}" class="button is-danger"> Delete Your Profile
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    </div>
  {% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Profile Available</p>
    </div>
  </article>
  
  {% endfor %}
</div>
</div>


{% endblock %}