{% extends 'base.html' %} {% block content %}


 <!-- About -->
 <section class="section" id="about">
  <!-- Title -->
  <div class="section-heading has-text-centered">
    <h3 class="title is-2">About Me</h3>
    <h4 class="subtitle is-3">{{profile.name}}</h4>
    <h4 class="subtitle is-3"> <span><b>Join me @ {{profile.group}}!</b></span></h4>
    <div class="container">
    <h4 class="subtitle is-3"> {{profile.goal_description}}</h4>
    </div>
  </div>

  <div class="columns has-same-height">

    <div class="column">
      <!-- Profile picture -->
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <img src="{{profile.avatar_img}}" alt="{{profile.name}}" />
          </figure>
        </div>
      </div>
    </div>
    <div class="column">
      <!-- Skills -->
      <div class="card">
        <div class="card-content skills-content has-text-right">
          <h3 class="title is-4">Goal Signpost</h3>
          <div class="content has-text-right">
            <figure class="image">
              <img src="{{profile.status_img}}" alt="{{profile.name}}" />
              </figure>
                <article>
                  <p>
                    <strong>This is the emerging signpost</strong>
        
                  </p>
                </div>
              </div>
            </article>

















  

{% endblock %}