{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="level-right">

    <figure class="image is-500x500">
    <img src="{{profile.status_img}}" alt="{{profile.name}}" />
    </figure>
  </div>
<div class="level-left">
  <figure class="image is-500x500">
    <img src="{{profile.avatar_img}}" alt="{{profile.name}}" />
  </figure>
  
    </div>
    <div clas="leve-left">
    <span><b>{{profile.name}}</b></span>
    <span><b>{{profile.group}}</b></span>
    <span>{{profile.goal_description}}</span>
  </div>
     
</div>



</div>
</div>
  

{% endblock %}