{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Users{% endblock  %}

{% block content %}

<h1 class="title pt-5">Users</h1>
<div class="gallery">
  {% for profile in profiles %}
  <a href="{% url 'profile_detail' profile.pk %}">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{profile.avatar_img}}" alt="{{profile.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{profile.name}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Users Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}